.pageContainer {
    width: 100%;
}

.wrapper {
    font-size: 18px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #999797;
    color: #2b2b2b;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px auto;
}