.dataForm {
    display: flex;
    position: absolute;
    width: 75%;
    height: 60%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgb(0 0 50%);
    justify-content: space-around;
}

