.button {
    padding: 5px 10px;
    font-size: 10px;
    background-color: #fa6e4f;
    font-family: 'Sintony', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    transition: all 0.3s;
    border-radius: 5px;
    color: white;
    border-color: transparent;
    margin: 5px;
}
.button:disabled{
    background-color: #ecc8c3;
}

