.search {
    display: flex;
    min-height: 70%;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.paginator{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.cards{
    width: 60%;
    padding: 15px;
    flex-wrap: wrap;
}

.table{
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
}














.card {
    display: inline-block;
    margin: 8px;
    width: 380px;
    min-height: 280px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.card .heading {
    position: relative;
    height: 160px;
    color: #ffffff;
}

.card .heading h1 {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 24px;
}

.card .content {
    padding: 16px;
}

